@theme {
  --color-lightgray: #d4d4d4;
  --color-lightblue: #ecf5ff;
  --color-navyblue: #0a1a44;
  --color-darkteal: #182527;
}

@theme inline {
  --font-poppins: var(--font-poppins);
  --font-nunito: var(--font-nunito);
}
