---
import { Progress } from '@/components/ui/progress';
---

<div>
  <div class='flex items-center justify-between mb-3 font-bold'>
    <p>Accuracy</p>
    <p>87%</p>
  </div>
  <Progress value={87} className='h-3' />
</div>
