---
interface Props {
  items: {
    label: string;
    href: string;
  }[];
}

const { items } = Astro.props;
---

<ul
  class='sm:flex hidden capitalize font-semibold items-center justify-start gap-x-8'
>
  {
    items.map((item) => (
      <li class='py-3'>
        <a class='hover:text-primary' href={item.href}>
          {item.label}
        </a>
      </li>
    ))
  }
</ul>
