---
import { cn } from '@/lib/utils';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'section'> {
  extraClasses?: string;
}

const { extraClasses = '', ...restProps } = Astro.props;
---

<section class={cn('lg:py-36 py-24', extraClasses)} {...restProps}>
  <div class='container'>
    <slot />
  </div>
</section>
