---
import { cn } from '@/lib/utils';

interface Props {
  extraClasses?: string;
}

const { extraClasses = '' } = Astro.props;
---

<h2 class={cn('font-extrabold text-5xl', extraClasses)}>
  <slot />
</h2>
