---
import '@/styles/globals.css'
import Navigation from '@/components/Navigation.astro'
import { cn } from '@/lib/utils'

interface FrontmatterProps {
  title: string
  prose?: boolean
}

interface Props {
  frontmatter: FrontmatterProps
}

const { frontmatter } = Astro.props
const { title, prose } = frontmatter
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navigation />
    <main
      class={cn('max-w-5xl mx-auto py-8 px-4', prose && 'prose lg:prose-xl')}
    >
      <slot />
    </main>
  </body>
</html>
<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap');
  :root {
    --accent: #3b82f6;
    --accent-light: #93c5fd;
    --accent-dark: 14, 38, 92;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: 'Plus Jakarta Sans', system-ui, sans-serif;
    /* background: #13151a; */
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
